<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt,
      veritatis?
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super easy to use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt quod
        harum officiis tenetur alias voluptatem quo quas delectus sunt at.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source type="image/webp" srcset="images/easy.webp 1x" />
      <source type="image/jpg" srcset="images/easy.jpg 1x" />
      <img class="feature__image" src="images/easy.jpg " alt="" />
    </picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt quod
        harum officiis tenetur alias voluptatem quo quas delectus sunt at.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source type="image/webp" srcset="images/fast.webp 1x" />
      <source type="image/jpg" srcset="images/fast.jpg 1x" />
      <img class="feature__image" src="images/fast.jpg " alt="" />
    </picture>
  </article>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Wordpress Made Easy</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt quod
        harum officiis tenetur alias voluptatem quo quas delectus sunt at.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source type="image/webp" srcset="images/wordpress.webp 1x" />
      <source type="image/jpg" srcset="images/wordpress.jpg 1x" />
      <img class="feature__image" src="images/wordpress.jpg " alt="" />
    </picture>
  </article>
</section>
