<section class="footer block--dark">
  <ul class="list footer__list collapsible">
    <li class="footer__title collapsible__header">
      Products
      <svg class="icon icon--primary collapsible__chevron">
        <use xlink:href="images/sprite.svg#menu"></use>
      </svg>
    </li>
    <li class="collapsible__content">Free Automated WordPress</li>
    <li class="collapsible__content">Migrations</li>
    <li class="collapsible__content">WordPress Hosting</li>
    <li class="collapsible__content">Domain Names</li>
    <li class="collapsible__content">Monthly Web Hosting</li>
  </ul>
  <ul class="list footer__list collapsible">
    <li class="footer__title collapsible__header">
      Company
      <svg class="icon icon--primary collapsible__chevron">
        <use xlink:href="images/sprite.svg#menu"></use>
      </svg>
    </li>
    <li class="collapsible__content">About</li>
    <li class="collapsible__content">Affiliates</li>
    <li class="collapsible__content">Blog</li>
    <li class="collapsible__content">Careers</li>
    <li class="collapsible__content">Community</li>
    <li class="collapsible__content">News</li>
    <li class="collapsible__content">Green Hosting</li>
  </ul>
  <ul class="list footer__list collapsible">
    <li class="footer__title collapsible__header">
      Support
      <svg class="icon icon--primary collapsible__chevron">
        <use xlink:href="images/sprite.svg#menu"></use>
      </svg>
    </li>
    <li class="collapsible__content">Contact</li>
    <li class="collapsible__content">Knowledge Base</li>
    <li class="collapsible__content">Forums</li>
    <li class="collapsible__content">System Status</li>
    <li class="collapsible__content">Web Hosting</li>
    <li class="collapsible__content">DreamCompute</li>
  </ul>
  <ul class="list footer__list collapsible">
    <li class="footer__title collapsible__header">
      Domains
      <svg class="icon icon--primary collapsible__chevron">
        <use xlink:href="images/sprite.svg#menu"></use>
      </svg>
    </li>
    <li class="collapsible__content">Domain Checker</li>
    <li class="collapsible__content">Domain Transfer</li>
    <li class="collapsible__content">Free Domain</li>
    <li class="collapsible__content">XYZ Domain</li>
    <li class="collapsible__content">Cheap SSL Certificate</li>
  </ul>

  <section class="footer__logo">
    <img src="images/logo.svg" alt="logo" />
    <p>Copyright 2020 mosh</p>
  </section>
</section>
